name: Fakelake Linter

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install rust specific version
      uses: actions-rs/toolchain@v1
      with:
          toolchain: 1.81.0
          override: true
          components: rustfmt, clippy
    - name: Clipper checks
      run: cargo clippy --all-targets --all-features -- -D warnings
    - name: fmt Checks
      run: cargo fmt --all -- --check
