name: Fakelake Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install rust specific version
      uses: actions-rs/toolchain@v1
      with:
          toolchain: 1.90.0
          override: true
    - name: Run tests
      run: cargo test --verbose
